# Core functionality - changes here should be rare!
/src/app.py                   @Prasannaverse13
/src/backend/database.py      @Prasannaverse13
/src/backend/routers/auth.py  @Prasannaverse13

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Prasannaverse13
